<mat-card>
  <mat-card-header>
    <mat-card-title>{{question.question}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-radio-group [(ngModel)]="answer">
      <mat-radio-button *ngFor="let ans of answers" value="ans">{{ans}}</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="game.full" (click)="onTip()" mat-button>Tip!</button>
    <button *ngIf="!game.full" [disabled]="!skipEnable" (click)="onSkip()" mat-button>Skip! icono {{game.priceSkip}}</button>
    <button *ngIf="!game.full" [disabled]="!tipEnable" (click)="onTip()" mat-button>Tip! icono {{game.priceTip}}</button>
    <button (click)="onGo()" mat-button>GO!</button>
  </mat-card-actions>
</mat-card>
