<mat-card>
  <mat-card-header>

    <mat-card-title>Welcome</mat-card-title>
    <span class="spacer"></span>
    <span> icono monedas {{user.coins}} </span>

  </mat-card-header>

  <form #welcomeForm="ngForm">
    <div [hidden]="welcomeForm.submitted">

      <div class="form-group">
        <label for="name">Nombre</label>
        <input id="name" name="name" class="form-control" required minlength="4" [(ngModel)]="user.name" #name="ngModel">

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 4 characters long.
          </div>

        </div>
      </div>

      <button (click)="onFree()" type="submit" class="btn btn-default" [disabled]="welcomeForm.invalid">Play Free</button>
      <button (click)="onBuy()" type="submit" class="btn btn-default" [disabled]="welcomeForm.invalid">Buy (icono500)</button>
    </div>

  </form>

</mat-card>
