<mat-card>
  <mat-card-title>
    Felicitaciones Completaste un {{percentage}}%
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let q of qqq; last as last">
        <mat-icon mat-list-icon *ngIf="q.ok">done</mat-icon>
        <mat-icon mat-list-icon *ngIf="!q.ok">clear</mat-icon>
        <h4 mat-line>{{q.q}}</h4>
        <p mat-line> {{q.a}} </p>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
